FLASH_POD_API_URL="https://uat.flashship.net/seller-api-v2"
FLASH_POD_REAL_API_URL="https://api.flashship.net/seller-api-v2"
variant_list="/orders/list-variant-sku"
token="your_flashpod_jwt_token_here"
